* {
    font-family: serif;
}

.texts {
    font-size: 15px;
    font-weight: 600;
    color: rgb(218, 187, 17);
}

.main {
    width: 100%;
}

.pc {
     display: block !important;
}

.sp {
    display: none !important;
}


.worries {
    height: 800px;
    background-image: url(../portfolio2/texture_00010.jpg);
}

.worries-wrap {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-top: 80px;
}

.worries h2 {
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    margin: 20px 0;
    color: #CB416B;
    border-bottom: dotted 2.3px;
    display: inline-block;
}

.worrieslist {
    text-align: center;
    width: 100%;
    padding-top: 50px;
}

.benefit {
    height: 1300px;
    background-color: #fff;
}

.benefit-answer {
    text-align: center;
}

.benefit-answer h2 {
    color: rgb(82,8,57);
    padding-top: 80px;
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: 600;
    border-bottom: dotted 2.3px;
    display: inline-block;
}

.benefit-answer p {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 50px;
}

.pink {
    color: #CB416B;
    font-size: 50px;
    border-bottom: dotted 2.3px;
    display: inline-block;
}

.benefit-img {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.benefitlist {
    padding: 30px;
    margin-top: 10px;
    border-radius: 10px;
    /* height: 200px; */
}

.features {
    color: #CB416B;
    font-size: 25px;
    font-weight: 600;
    border-bottom: solid 2px #CB416B;
}

.description {
    color: rgb(51, 43, 43);
    font-size: 15px;
    line-height: 2;
    font-weight: 600;
}

.reviews {
    background-image: url(../portfolio2/cnt04_bg.jpg);
    height: 750px;
    background-size: contain;
}

.reviews-maintext {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 100px;
}


.reviews-maintext img {
    margin-bottom: 30px;
    width: 35%;
}

.pinktext {
    color: #CB416B;
    font-size: 50px;
}

.reviewslist {
    border-top: solid 5px #CB416B;
    padding: 20px 20px 10px;
    margin-top: 30px;
    background-color: #FFF5F6;
    color: rgb(51, 43, 43);
}

.reviewslist p {
    line-height: 1.5;
    letter-spacing: 0.1em;
    font-family: "HuiFontP109";
}

.tinytext {
    font-size: 12px;
    text-decoration: underline;
    text-align: right;
    margin-bottom: 10px;
}

.form {
    background-color: #fff5fb;
    height: 850px;
}

.form-maintext h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.form-img {
    text-align: center;
    /* position: relative; */
    width: 75%;
    margin: 30px auto 70px;
}


.button {
    margin-top: 50px;
    font-size: 35px;
    padding: 10px 90px;/*文字と線の間の余白*/
    color: white;/*文字色*/
    background-color: #933D74;
    border-radius: 10px;
    width: 60%;
}

.form-maintex .button {
    text-align: center;
}

.button:hover {
    background-color: #fcc4e6;
    border-color: #933D74;
    color: #933D74;
}

.footer {
    background-color: #CA3F70;
    height: 50px;
}

.footer-text {
    text-align: center;
    color: #fff;
    padding-top: 12px;
}

.footer-text p {
    margin-block-end: 0;
}






/*タブレット対応*/
@media (max-width: 992px) {

    /* .pc {
        display: none !important;
    }

    .sp {
        display: none !important;
    } */

    .worries {
        height: 650px;
    }

    .worries-wrap {
        padding-top: 40px;
    }

    .worries-wrap p {
        font-size: 30px;
        margin-bottom: 0;
    }

    .worries-wrap h2 {
        font-size: 40px;
    }

    .worries h2{
        margin: 0;
    }

    .worrieslist {
        padding-top: 30px;
    }

    .benefit {
        height: 1320px;
    }

    .benefit-answer h2 {
        font-size: 35px;
        padding-top: 40px;
        margin-bottom: 30px;
    }

    .benefit-answer p {
        font-size: 25px;
        letter-spacing: 0;
        padding-bottom: 30px;
    }
    
    .benefit-answer .pink {
        font-size: 40px;
    }

    .benefit-img {
        width: 90%;
    }

    .benefit-wrap {
        margin-top: 30px;
    }

    .benefitlist {
        margin: 10px 10px 10px;
        padding: 0;
    }

    .features {
        font-size: 25px;
        margin-top: 20px;
    }

    .description {
        font-size: 18px;
    }

    .reviews {
        height: 1300px;
    }

    .reviews-maintext {
        margin-top: 30px;
    }

    .reviews-maintext p {
        font-size: 30px;
    }

    .reviews-maintext .pinktext {
        font-size: 40px;
    }

    .reviews-maintext img {
        width: 50%;
        margin-bottom: 0;
    }

    .reviewslist p {
        font-size: 20px;
    }

    .form {
        height: 670px;
    }

    .form-maintext h2 {
        font-size: 30px;
        padding: 30px 0 20px;
    }

    .form-maintext .pinktext {
        font-size: 40px;
    }

    .button {
        font-size: 30px;
    }

    .footer-text {
        font-size: 15px;
    }
    
}




/*スマホ対応*/
@media (max-width: 576px) {

    .pc {
        display: none !important;
    }

    .sp {
        display: block !important;
    }

    .worries {
        height: 320px;
    }

    .worries-wrap {
        padding-top: 20px;
        font-size: 30px;
    }
    
    .worries-wrap p {
        font-size: 20px;
        margin-bottom: 0;
    }

    .worries-wrap h2 {
        font-size: 25px;
        margin: 0;
    }

    .worrieslist {
        padding-top: 10px;
    }

    .worrieslist img {
        width: 95%;
    }

    .benefit {
        height: 980px;
    }

    .benefit-answer h2 {
        font-size: 25px;
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .benefit-answer p {
        font-size: 16px;
        letter-spacing: 0;
        padding-bottom: 20px;
    }
    
    .benefit-answer .pink {
        font-size: 25px;
    }

    .benefit-img {
        width: 90%;
    }

    .benefit-wrap {
        margin-top: 20px;
    }

    .features {
        font-size: 20px;
    }

    .description {
        font-size: 15px;
    }

    .reviews {
        height: 1450px;
    }

    .reviews-maintext p {
        font-size: 20px;
        margin-bottom: 0;
    }

    .reviews-maintext .pinktext {
        font-size: 30px;
    }

    .reviews-maintext {
        margin-top: 0;
    }

    .reviews-maintext img {
        width: 50%;
    }
  
    .reviewslist {
        width: 100%;
        margin-bottom: 20px;
    }

    .reviewslist p {
        font-size: 17px;
    }

    .reviewslist .tinytext {
        font-size: 13px;
    }

    .form {
        height: 350px;
    }

    .form-maintext h2 {
        font-size: 19px;
        padding: 20px 0 0;
    }

    .form-maintext .pinktext {
        font-size: 21px;
    }

    .form-img {
        margin: 30px auto;
    }

    .button {
        font-size: 16px;
        padding: 10px 30px;
        color: white;
        background-color: #933D74;
        border-radius: 10px;
        width: 60%;
    }

    .footer {
        height: 30px;
    }

    .footer-text {
        font-size: 13px;
        padding-top: 6px;
    }
    

}












/*
WEBフォントで「ふい字(HuiFontP109)」 ver130717
http://customtemplate.blog112.fc2.com/blog-entry-143.html
*/
@font-face{
    font-family:'HuiFontP109';
    src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot');
    src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot?#iefix') format('embedded-opentype'),
    url('https://dl.dropboxusercontent.com/s/7pscemjdvt0wyiq/HuiFontP109.woff') format('woff'),
    url('https://dl.dropboxusercontent.com/s/0w9uuopxrns8ehi/HuiFontP109.ttf') format('truetype'),
    url('https://dl.dropboxusercontent.com/s/xnnsbxtz8o6d98i/HuiFontP109.svg#HuiFontP109') format('svg');
    }
    body,input,textarea{font-family:'HuiFontP109';font-size:16px;}